secrets:
  db_password:
   file: ../secrets/db_password.txt
  db_root_password:
   file: ../secrets/db_root_password.txt
  credentials:
    file: ../secrets/credentials.txt

services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    restart: always
    env_file:
      - .env
    secrets:
     - db_password
     - db_root_password
    environment:
     MYSQL_PASSWORD_FILE: /run/secrets/db_password
     MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--protocol=socket"]
      interval: 10s
      timeout: 5s
      retries: 5

  wordpress:
    container_name: wordpress
    build: requirements/wordpress
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - MYSQL_HOST=mariadb
    secrets:
      - db_password
      - credentials
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    restart: always
    depends_on:
      - wordpress
    ports:
      - 443:443
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

networks:
    inception:
      name: inception
      driver: bridge
volumes:
    mariadb_data:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: /home/hporta-c/data/mariadb
    wordpress_data:
       driver: local
       driver_opts:
         type: none
         o: bind
         device: /home/hporta-c/data/wordpress
