version: '3.8'

secrets:
  db_password:
   file: ../secrets/db_password.txt
  db_root_password:
   file: ../secrets/db_root_password.txt

services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    secrets:
      - db_password
      - db_root_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception_net

  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    restart: always
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      WP_ADMIN: "wpadmin"
      WP_USER: "regular_user"
    secrets:
      - db_password
    volumes:
      - wordpress_data:/var/www/wordpress
    networks:
      - inception_net

  nginx:
    build: ./requirements/nginx
    image: nginx
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    restart: always
    volumes:
      - wordpress_data:/var/www/wordpress
    networks:
      - inception_net

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hporta-c/data/mariadb
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hporta-c/data/wordpress

networks:
  inception_net:
    driver: bridge
