secrets:
  db_password:
   file: ../secrets/db_password.txt
  db_root_password:
   file: ../secrets/db_root_password.txt
  credentials:
    file: ../secrets/credentials.txt

services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    restart: always
    env_file:
      - .env
    secrets:
     - db_password
     - db_root_password
    environment:
     MYSQL_PASSWORD_FILE: /run/secrets/db_password
     MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    volumes:
      - ${DATA_PATH}/mariadb:/var/lib/mysql
    networks:
      - inception
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  wordpress:
    container_name: wordpress
    build: requirements/wordpress
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env
    secrets:
      - db_password
      - credentials
    volumes:
      - ${DATA_PATH}/wordpress:/var/www/html
    networks:
      - inception

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    restart: always
    depends_on:
      - wordpress
    ports:
      - 443:443
    env_file:
      - .env
    volumes:
      - ${DATA_PATH}/wordpress:/var/www/html
    networks:
      - inception

networks:
    inception:
      name: inception
      driver: bridge
